@charset "UTF-8";

.comment{
	padding:40px 20px 40px 20px;
	
	
}
.comment_wrapper{
	border:1px solid black;
	padding:0 20px 20px 20px;
	}

.comment_wrapper table{

	margin-top: 10px;
	border-top: 1px solid #f3f3f3;
	
}

	
.comment_wrapper >table{
	border:0px;
}



.comment_write td{
	background-color:#f8f8f8;
	border:0;
	
	}
.comment_write{
	border-style: none;
	border-width: 0px;
	
}
	
.comment_button{
	width: 70px;
	height: 70px;
	
}

.comment_show tr{
	border-bottom: 0;
	
}
.comment_show{
	margin-bottom: 30px;
	
}

.comment_show .replyCnt{
	font-size: 12px;
    color: red;
    font-weight: bold;
	
	
}

.comment_show .replyCnt a{
	color: black;
	
}
.comment_one{
	text-align: left;
	padding: 15px 10px 15px 10px;
	
}

.comment_one .content{
	margin-top: 10px;
	
}
.comment_one .fix{
	text-align: right;
	
}

.cursor_button{
	cursor: pointer;
		
}

.comment_refresh{
	text-align: right;
	font-size: 13px;
	color:red;
	text-decoration: underline;
	
	
	
}
.comment_refresh i{
	margin-right:5px;	
}





