@charset "UTF-8";

.comment{
	padding:40px 20px 40px 20px;
	
	
}
.comment_wrapper{
	border:1px solid #e1e1e1;
	padding:0 20px 20px 20px;
	}

.comment_wrapper table{

	margin-top: 10px;
	border-top: 1px solid #f3f3f3;
	
}

	
.comment_wrapper >table{
	border:0px;
}



.comment_write td{
	background-color:#f8f8f8;
	border:0;
	
	}
.comment_write{
	border-style: none;
	border-width: 0px;
	
}
	
.comment_button{
	width: 70px;
	height: 70px;
	
}

.comment_show tr{
	border-bottom: 0;
	
}
.comment_show{
	
}

.comment_show .replyCnt{
	font-size: 12px;
    color: red;
    font-weight: bold;
	
	
}

.comment_show .replyCnt a{
	color: black;
	
}
.comment_one{
	text-align: left;
	padding: 15px 10px 15px 10px;
	border-top: 1px solid #dcdcdc!important;
	
}

.comment_one .content{
	margin-top: 10px;
	
}
.comment_one .fix{
	text-align: right;
	
}

.cursor_button{
	cursor: pointer;
	color:#a7a7a7;
		
}

.comment_refresh{
	text-align: right;
	font-size: 13px;
	color:red;
	text-decoration: underline;
	border-top: 1px solid #dcdcdc;
	padding-top: 7px;
	
}
.comment_refresh i{
	margin-right:5px;	
}

.comment_child_mark{
	float:left;
	
}
.comment_child_mark i{
	height:60px;

	}


.comment_child_content{
	width: 95%;
	float:left;
	background-color:#f8f8f8; 
	padding:8px;
	
}
.comment_c:after{
	content: "";
	display: block;
	clear: both;
	 
}
.comment_comment_one{
	text-align: left;
	padding: 0 10px 10px 10px;
	
}

.comment_comment_one .content{
	margin-top: 10px;
	
}

.fa-long-arrow-alt-right{
	font-size: 15px;
	padding-right: 10px;
	
}

.comment td{
	border:0px;
	
}
