<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.MypageMapper">


	
	<select id="address_selectAll" resultType="com.spring.domain.AddressVO">
		select *
	     from member_address
		 where userId=#{userId}
		 order by add_num asc
	</select>

	<insert id="add_address">
		insert into member_address values(#{userId},#{useradd},#{add_num})
	
	</insert>
	
	<select id="select_add_num" resultType="int">
		select max(add_num)
			from member_address
			where userId=#{userId}
	</select>
	
	<delete id="delete_address">
		delete from member_address
		where userId=#{userId} and add_num=#{add_num}
	
	</delete>
	
	
	
	
</mapper>